.title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}


.pageContainer {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pageContainer h1 {
    margin-bottom: 0.5rem;
}

.pageContainer p {
    margin-bottom: 1.5rem;
    color: #a0a0a0;
}

.calendarContainer {
    flex-grow: 1; 
    font-size: 14px;
}

.calendarContainer :global(.rbc-calendar) {
    background-color: #2e2e2e;
    color: #f1f1f1;
    border: 1px solid #444;
    border-radius: 8px;
}

.calendarContainer :global(.rbc-toolbar) {
    border-bottom: 1px solid #444;
}

.calendarContainer :global(.rbc-toolbar .rbc-toolbar-label) {
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
}

.calendarContainer :global(.rbc-btn-group button) {
    background-color: #3a3a3a;
    color: #f1f1f1;
    border: 1px solid #555;
}

.calendarContainer :global(.rbc-btn-group button:hover),
.calendarContainer :global(.rbc-btn-group button:focus) {
    background-color: #4a4a4a;
    border-color: #666;
}

.calendarContainer :global(.rbc-btn-group button.rbc-active) {
    background-color: #6a45d1; 
    border-color: #6a45d1;
    color: #fff;
}

.calendarContainer :global(.rbc-header) {
    background-color: #333;
    border-bottom: 1px solid #444;
    padding: 10px 0;
    font-weight: bold;
}

.calendarContainer :global(.rbc-day-bg) {
    border-left: 1px solid #444;
}
.calendarContainer :global(.rbc-day-bg:first-child) {
    border-left: none;
}

.calendarContainer :global(.rbc-off-range-bg) {
    background-color: #242424;
}

.calendarContainer :global(.rbc-today) {
    background-color: #3f3a52;
}

.calendarContainer :global(.rbc-event) {
    background-color: #6a45d1;
    border: 1px solid #8b70d2;
    padding: 4px 8px;
    border-radius: 4px;
}

.calendarContainer :global(.rbc-show-more) {
    color: #8b70d2;
    background-color: transparent;
}