.title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}


.pageContainer {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pageContainer h1 {
    margin-bottom: 0.5rem;
}

.pageContainer p {
    margin-bottom: 1.5rem;
    color: #a0a0a0;
}

.calendarContainer {
    flex-grow: 1; 
    font-size: 14px;
}

.calendarContainer :global(.rbc-calendar) {
    background-color: var(--card-background);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.calendarContainer :global(.rbc-toolbar) {
    border-bottom: 1px solid var(--border-color);
}

.calendarContainer :global(.rbc-toolbar .rbc-toolbar-label) {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--text-color);
}

.calendarContainer :global(.rbc-btn-group button) {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.calendarContainer :global(.rbc-btn-group button:hover),
.calendarContainer :global(.rbc-btn-group button:focus) {
    background-color: var(--hover-color);
    border-color: var(--border-color);
}

.calendarContainer :global(.rbc-btn-group button.rbc-active) {
    background-color: var(--primary-color);
    border-color: var(--primary-hover);
    color: var(--text-color);
}

.calendarContainer :global(.rbc-header) {
    background-color: var(--card-background);
    border-bottom: 1px solid var(--border-color);
    padding: 10px 0;
    font-weight: bold;
}

.calendarContainer :global(.rbc-day-bg) {
    border-left: 1px solid var(--border-color);
}
.calendarContainer :global(.rbc-day-bg:first-child) {
    border-left: none;
}

.calendarContainer :global(.rbc-off-range-bg) {
    background-color: var(--background-color-dark);
}

.calendarContainer :global(.rbc-today) {
    background-color: var(--hover-color);
}

.calendarContainer :global(.rbc-event) {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-hover);
    padding: 4px 8px;
    border-radius: 4px;
}

.calendarContainer :global(.rbc-show-more) {
    color: var(--primary-hover);
    background-color: transparent;
}