.ConcluidoPage {
    padding: 1rem;

}

.ConcluidoPage h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1rem;
}

.centeredMessage {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.1rem;
    color: #a0a0a0;
}

.taskList {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.taskCard {
    background-color: var(--card-background);
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    transition: transform 0.2s, box-shadow 0.2s;
}

.taskCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.taskCard h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 0 0 0.5rem 0;
}

.taskDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.taskInfo {
    flex-grow: 1;
    margin-right: 1rem;
    color: yellowgreen;
}

.taskActions {
  display: flex;
  gap: 0.6rem;
}

.taskCard button {
    background-color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: 0.8rem;
    box-sizing: border-box;
}

.taskCard button:hover {
    background-color: var(--hover-color);
    transition: background-color 0.3s ease;
}

/* Estilos para o Modal */

.modalActions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}


/* Estilos para o botão de confirmação */
.confirmButton {
    background-color: var(--success-color);
    color: var(--text-color);
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 1rem;
    margin-top: 1.5rem;
    display: block;
}

.confirmButton:hover {
  background-color: var(--success-hover-color);
}

/* Estilos para o botão de cancelamento */
.cancelButton {
  background-color: var(--red-color);
  color: var(--text-color);
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 1rem;
  margin-top: 1.5rem;
  display: block;
}

.cancelButton:hover {
  background-color: var(--red-hover-color);
}
