.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2); /* Fundo mais escuro para o overlay */
}

.modalContent {
  background-color: #2e2e2e;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px;
  color: #fff;
  position: relative; /* Essencial para posicionar o botão Fechar */
  padding-top: 2.5rem;
}

.closeButton {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  background: none; 
  border: none; 
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px 10px;
  line-height: 1; 
  font-weight: bold; 
  z-index: 1001; 
  transition: color 0.2s ease-in-out;
}

.closeButton:hover {
  color: #bbb; 
  background-color: transparent; 
}