.modalOverlay {
  position: fixed; /* Cobre a tela inteira, independente da rolagem */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Garante que fique na frente de tudo */
}

.modalContent {
  background-color: #2e2e2e; /* Mesma cor da sua sidebar */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px; /* Largura máxima do modal */
  color: #fff;
}

.closeButton {
  background-color: #6a45d1; 
  font-weight: bold;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-size: 1rem;
  margin-top: 1.5rem;
  display: block; /* Faz o botão ocupar a própria linha */
  margin-left: auto; /* Alinha o botão à direita */
}

.closeButton:hover {
  background-color: #7b58e2;
}