.pageContainer {
  padding: 1rem;
}

.pageTitle {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
}

.centeredMessage {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.1rem;
  color: var(--text-color-light);
}

.taskList {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.taskCard {
  background-color: var(--card-background);
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  transition: transform 0.2s, box-shadow 0.2s;
}

.taskCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.taskCard h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-color);
  margin: 0 0 0.5rem 0;
}

.taskCard p {
  font-size: 1rem;
  color: var(--text-color-light);
  line-height: 1.6;
  margin: 0 0 1rem 0;
  white-space: pre-wrap; /* Mantém as quebras de linha da descrição */
  overflow-wrap: break-word;
}

.taskCard2Layer {
  display: flex;
  justify-content: space-between;
}

.taskActions {
  display: flex;
  gap: 0.6rem;
}

.taskCard button {
  background-color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  font-size: 0.8rem;
  box-sizing: border-box;
}

.taskCard button:hover {
  background-color: var(--primary-hover);
  transition: background-color 0.3s ease;
}

.termDate {
  font-size: 0.9rem;
  color: var(--red-color);
  font-weight: 500;
  text-align: right;
  padding-top: 0.55rem;
}

