/* Reset básico e definição de altura para a aplicação inteira */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* Garante que todos os outros elementos herdem o box-sizing */
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #202020; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
  overflow: hidden;
}

:root {
  --success-color: #28a745;
  --success-hover-color: #32c76a;
  --red-color: #dc3545;
  --red-hover-color: #e55361;

  /* Tema escuro */
  --background-color: #1a1a1a;
  --card-background: #2e2e2e;
  --sidebar-background: #232627;
  --hover-color: #444444;
  --text-color: #f1f1f1;
  --text-color-light: #b3b3b3;
  --border-color: #444;
  --primary-color: #6a45d1;
  --primary-hover: #7b58e2;
}

.light {
  --background-color: #f4f4f4;
  --card-background: #ffffff;
  --sidebar-background: #e9e9e9;
  --hover-color: #dcdcdc;
  --text-color: #232627;
  --text-color-light: #555555;
  --border-color: #dcdcdc;
  --primary-color: #007bff;
  --primary-hover: #0056b3;
}